a {
  color: var(--el-color-primary);
  text-decoration: none;
}

.affix-container {
  text-align: center;
  height: 40px;
  border-radius: 4px;
  background: var(--el-color-primary-light-9);
  flex: 1;
  width: 100%;
  margin-bottom: 10px;
}
.affix-container .el-input {
  height: 40px;
}
//
//* {
//  border: 1px solid red; /* 用来调试 */
//}
